@import "@styles/colors"

.end-page
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  gap: 1rem

  .group
    display: flex
    padding: 1rem 2rem
    user-select: none

    .group-item
      width: 12rem

      h2, p
        margin: 0

    .group-item:nth-child(1)
      width: 18rem

    .group-item:nth-child(1) h2
      width: 18rem
      text-overflow: ellipsis
      overflow: hidden

  .group-red
    color: $error
  .group-green
    color: $success