@import "@styles/colors"

.waiting-state
  display: flex
  width: 100%
  justify-content: space-around

  .waiting-area
    display: flex
    flex-direction: column
    width: 21rem
    text-align: center

    svg
      font-size: 4rem

    span
      color: $primary

  .info-area
    padding: 1rem
    width: 20rem

    h2
      margin: 0
    p
      margin-bottom: 0
    span
      color: $primary
      font-weight: 800